<% content_for(:page_title) { @document.display_title } %>

<header class="page-header">
  <div>
    <div class="page-header__eyebrow"><%= @document.document_type&.name %></div>
    <h1 class="page-header__title m-0"><%= t("common.edit") %>: <%= @document.display_title %></h1>
  </div>
  <div class="page-header__actions">
    <%= link_to t("common.back"), document_path(@document), class: "btn btn-ghost" %>
  </div>
</header>

<%= render "form", document: @document %>
